html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
}

table
{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
table td
{
	border: 1px solid black;
}

td:first-child
{
	background-color: blueviolet;
}

td:last-child
{
	background-color: chocolate;
}